# {{ ansible_managed }}

# Pi-hole — Tailscale HTTPS (auto cert from tailscaled)
{{ pi_ts_hostname }} {
	tls {
		get_certificate tailscale
	}
	reverse_proxy 127.0.0.1:{{ pihole_web_port }}
}

# Actual Budget — Tailscale HTTPS (auto cert from tailscaled)
{{ pi_ts_hostname }}:{{ actual_port }} {
	tls {
		get_certificate tailscale
	}
	reverse_proxy 127.0.0.1:{{ actual_internal_port }}
}
